{% extends 'Main/Human/human_main.html' %}
{% block title %}인사_교육조회{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-12">
                <h1>전체 교육조회</h1>
                    <table id="searchtable" class='table table-sm table-bordered table-hover'>
                                <thead class="thead-light">                                
                                <tr>
                                    <th>교육명</th>
                                    <th>교육내용</th>
                                    <th colspan="2">수정∙삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for edu in education  %}
                                {% if edu.education_isdelete == False %}
                                <tr>
                                <td>{{ edu.education_name }}</td>
                                <td>{{ edu.education_content }}</td>
                                <td><a href="{% url 'main:EduSave' edu.pk %}"><button class="btn btn-outline-primary btn-sm m-0 waves-effect">수정</button></a></td>
                                <td><a href="{% url 'main:EduDelete' edu.pk %}"><button class="btn btn-outline-danger btn-sm m-0 waves-effect">삭제</button></a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
        <div class="col-md-1"></div>
    </div>
</div>
<style>
        table{
           text-align: center;
        }
        th{
            text-align: center;
        }
   </style>
{% endblock %}   