<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<br>
<h2>근무 수정</h2>
<div class="card">
<form action="{% url 'main:WorkSave' work.pk %}" method="POST">
{% csrf_token %}
<table class="table table-hover">
    <tr>
        <th>이름</th>
        <td><input type="text" id="employee_name" name="employee_name" style="background-color:lightgray;" class="form-control mb-4" value="{{ work.employee.employee_name }}" readonly></td>
    </tr>
    <tr>
        <th>근무일</th>
        <td><input type="date" id="day_work" name="day_work" class="form-control mb-4" value="{{ work.day_work }}"></td>
    </tr>
    <tr>
        <th>근무파트</th>
        <td><input type="text" id="work_time" name="work_time" class="form-control mb-4" value="{{ work.work_time }}"></td>
    </tr>
    <tr>
        <th>근무시간</th>
        <td><input type="text" id="daytime_work" name="daytime_work" class="form-control mb-4" value="{{ work.daytime_work }}"></td>
    </tr>
    <th><input type="submit" onclick="button1_click();" class="btn btn-outline-primary btn-sm m-0 waves-effect" value="등록"></a></th>
    </tr>
</table>
</form></div>
</div>
<div class="col-md-3"></div>
</div>
</div>
</div>
<script>
    function button1_click() {
      alert("변경이 성공적으로 완료되었습니다");
    }
</script>
    
<style>
    table {
        float: left;
        border-collapse: collapse;
        text-align: center;
    }
                  
    th {
        font-weight: 100;
        padding: 3px;
        text-align: center;
    }
    
    td {
        padding: 3px;
        text-align: center;
    }

    input {
        text-align: center;
    }
</style>