<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> 인사관리</h3>
    </div>

    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'main:EmpEnrollment' %}">사원 등록</a></li>
        <li class="list-group-item"><a href="{% url 'main:EmpInquire' %}">사원 조회</a></li>
        <li class="list-group-item"><a href="{% url 'main:WorkEnrollment' %}">근무 등록</a></li>
        <li class="list-group-item"><a href="{% url 'main:WorkInquire' %}">근무 조회</a></li>
        <li class="list-group-item"><a href="{% url 'main:PayCal' %}">급여계산기</a></li>
        <li class="list-group-item"><a href="{% url 'main:PayEnrollment' %}">급여 등록</a></li>
        <li class="list-group-item"><a href="{% url 'main:PayInquire' %}">급여 조회</a></li>
        <li class="list-group-item"><a href="{% url 'main:EduEnrollment' %}">교육 등록</a></li>
        <li class="list-group-item"><a href="{% url 'main:EduInquire' %}">교육 조회</a></li>
        <li class="list-group-item"><a href="#">채용 등록</a></li>
        <li class="list-group-item"><a href="#">채용 조회</a></li>
    </ul>
</div>