<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<br>
<h2>인적사항 수정</h2>
<div class="card">
<form action="{% url 'main:EmpSave' employee.pk %}" method="POST">
{% csrf_token %}
<table class="table table-hover">
    <tr>
        <th>이름</th>
        <td><input type="text" id="employee_name" name="employee_name" style="background-color:lightgray;" class="form-control mb-4" value="{{ employee.employee_name }}" readonly></td>
    </tr>
    <tr>
        <th>주민등록번호</th>
        <td><input type="text" style="background-color:lightgray;" id="resident_number" name="resident_number" class="form-control mb-4" value="{{ employee.resident_number }}" readonly></td>
    </tr>
    <tr>
        <th>핸드폰</th>
        <td><input type="text" id="employee_phone" name="employee_phone" class="form-control mb-4" value="{{ employee.employee_phone }}"></td>
    </tr>
    <tr>
        <th>이메일</th>
        <td><input type="text" id="employee_email" name="employee_email" class="form-control mb-4" value="{{ employee.employee_email }}"></td>
    </tr>
    <tr>
        <th>주소</th>
        <td><input type="text" id="employee_address" name="employee_address" class="form-control mb-4" value="{{ employee.employee_address }}"></td>
    </tr>
    <tr>
        <th>은행</th>
        <td><input type="text" id="employee_bank" name="employee_bank" class="form-control mb-4" value="{{ employee.employee_bank }}"></td>
    </tr>
    <tr>
        <th>계좌번호</th>
        <td><input type="text" id="employee_banknumber" name="employee_banknumber" class="form-control mb-4" value="{{ employee.employee_banknumber }}"></td>
    </tr>
    <tr>
        <th>사진</th>
        <td><input type="file" id="employee_pic" name="employee_pic"></td>
    </tr>
    <tr>
    <th><input type="submit" onclick="button1_click();" class="btn btn-outline-primary btn-sm m-0 waves-effect" value="등록"></a></th>
    </tr>
</table>
</form></div>
</div>
<div class="col-md-3"></div>
</div>
</div>
</div>
<script>
    function button1_click() {
      alert("변경이 성공적으로 완료되었습니다");
    }
</script>
    
<style>
    table {
        float: left;
        border-collapse: collapse;
        text-align: center;
    }
                  
    th {
        font-weight: 100;
        padding: 3px;
        text-align: center;
    }
    
    td {
        padding: 3px;
        text-align: center;
    }

    input {
        text-align: center;
    }
</style>