<html><head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <button class="btn btn-primary" data-toggle="modal" data-target=".jy-modal" onclick="test(1);">1번 테이블</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" data-toggle="modal" data-target=".jy-modal" onclick="test(2);">2번 테이블</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" data-toggle="modal" data-target=".jy-modal" onclick="test(3);">3번 테이블</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" data-toggle="modal" data-target=".jy-modal" onclick="test(4);">4번 테이블</button>
        </div>
    </div>
</div>

<!-- Large modal -->
<div class="modal jy-modal" tabindex="-1" role="dialog" aria-labelledby="jy-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="table-information"></div>

    </div>
  </div>
</div>

<script>    
    function test(tb_no)
    {   
        var url = "/Counter/OrderSheet/" +tb_no+"/";
        $(".table-information").load(url);
    }

    function close(){
        alert('hi');
    }
</script>
</body>
</html>