{% extends 'Main/Order_State/main.html' %}

{% block content %} 

<table class="table table-hover table-bordered">    
    <thead class="thead thead-light">
        <th>테이블 번호</th>
        <th>주문 메뉴</th>
        <th>주문 개수</th>
        <th>주문 상태</th>
        <th>주문 시간</th>
        <th>처리</th>
    </thead>
    <tbody>
    {% if orders %}
        {% for order in orders %}
        <tr>
            <td>{{order.to_order_sheet.os_table_no}}</td>
            <td>{{order.to_menu}}</td>
            <td>{{order.to_count}}</td>
            <td id="order{{order.pk}}">{{order.to_status}}</td>
            <td><span id="time{{order.pk}}">{{order.to_order_sheet.os_order_date}}</span> <span id="pasttime{{order.pk}}"></span></td>
            <td>
                <button class="btn btn-success" onclick="doneOrder({{order.pk}})">완료</button>
                <button class="btn btn-danger" onclick="cancelOrder({{order.pk}})">취소</button>
            </td>
        </tr>
    {% endfor %}
    {% else %}
        <td colspan="6" class="text-center">접수된 주문이 없습니다.</td>
    {% endif %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        
    })
    var ws = new WebSocket('ws://'+ location.host +'/Order/State/');
    ws.onopen = function(e){
        console.log(e);
    }
    ws.onerror = function(e){
        console.log(e);
    }
    ws.onclose = function(e){
        console.log(e);
    }
    ws.onmessage = function(e){
        console.log(e);
    }


    function doneOrder(pk)
    {
        var url = '/ajax/Order/' + pk + '/Done/';
        $.ajax({
            type : 'POST',
            url : url,
            data : {
                'csrfmiddlewaretoken' : '{{ csrf_token }}',
            },
            success : function(res)
            {
                changeStatus(pk, res.status);
            }
        });
    }
    function cancelOrder(pk)
    {
        var url = '/ajax/Order/' + pk + '/Cancel/';
        if (confirm("정말 취소하시겠습니까?")){
            $.ajax({
                type : 'POST',
                url : url,
                data : {
                    'csrfmiddlewaretoken' : '{{ csrf_token }}',
                },
                success : function(res)
                {
                    changeStatus(pk, res.status);
                }
            });
        }
    }

    function changeStatus(pk, status)
    {
        $("#order" + pk).html(status);
    }


</script>
{% endblock %}

